<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Query - Topics</title>
    <link rel="stylesheet" href="/build/css/css/bundle.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container--createTopic">
        <div class="topNavColor">
            <a href="/topic"><img src=/img/logoMain.png />
                <p class="siteName">Query</p>
            </a>
            <p class="titleNav">Topics</p>
            <div class="nameDiv">
                <a href="/logout">Logout</a>
            </div>

        </div>
        
        <nav>
            <ul>
                <li>
                    <a href="" id="locationTopicsLink">Topics Around Me</a> 
                </li>
                <li>
                    <a href="javascript:void(0)" id="allTopicsLink">All Topics</a>
                </li>
            </ul>
        </nav>
        
        <h1 id="locationTitle"></h1>
        
        <div id="formDiv">
            <form name="create_topic_form" id="create_topic_form">
                <input type="text" name="topic_name" id="topic_name" placeholder="What would you like to talk about?" />
                <input type="hidden" name="topic_location" id="topic_location">
                <input type="submit" name="topic_submit" id="topic_submit" />
            </form>
        </div>
        
        <div id="locationTopicsDiv">
            <div id="locationTopics"></div>
        </div>
        
        <div id="allTopicsDiv">
            <div id="allTopics"></div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script src="/build/javascripts/geo.js"></script>
<script src="/build/javascripts/topics.js"></script>
<script src="/build/javascripts/script.js"></script>
</html>