<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Query - Index</title>

    <link rel="stylesheet" href="/build/css/css/bundle.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container--index">
        <div class="col-sm-6 col-sm-offset-3">
            <img src=/img/logoMain.png />
            <h1>Query</h1>
            <h2>Register</h2>
            <% if (message.length > 0) { %>
                <div class="alert alert-danger">
                    <%= message %>
                </div>
                <% } %>
                    <form action="/register" method="post">
                        <div class="form-group">
                            <input type="text" placeholder="Name" class="form-control nameForm" name="name">
                        </div>
                        <!-- END FORM GROUP -->
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control emailForm" name="email">
                        </div>
                        <!-- END FORM GROUP -->
                        <div class="form-group">
                            <input type="password" placeholder="Password" class="form-control" name="password">
                        </div>
                        <!-- END FORM GRROUP -->
                        <button type="submit" class="btn btn-primary btn-default">Registeer</button>
                    </form>
                    <div>
                        <p class="alreadyAccount">Heb je al een account? <a href="/"> Login!</a></p>
                        <p>Of</p>
                        <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                            <i class="fa fa-facebook"></i> Login met facebook
                        </a>
                    </div>
                    <!-- END COL-SM-6 -->
        </div>
        <!-- END CONTAINER -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>