<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Query - Log In</title>
    <link rel="stylesheet" href="/build/css/css/bundle.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container--index">
        <img src=/img/logoMain.png />
        <h1>Query</h1>
        <h2>Login</h2>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger">
                <%= message %>
            </div>
            <% } %>

                <form action="/" method="post">
                    <div class="form-group">
                        <input placeholder="Email" type="text" class="form-control emailForm" name="email">
                    </div>
                    <!-- END FORM-GROUP-->
                    <div class="form-group">
                        <input placeholder="Password" type="password" class="form-control" name="password">
                    </div>
                    <!-- END FORM-GROUP-->
                    <button type="submit" class="btn btn-primary btn-default">Login</button>
                </form>
                <p>Of...</p>
                <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook">
                    <i class="fa fa-facebook"></i> Login met facebook
                </a>
                <p class="alreadyAccount">Nog geen account?<a href="/register"> Registreer</a> je nu hier!</p>

    </div>
    <!-- END CONTAINER -->
</body>

</html>
