<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/build/css/css/bundle.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container--Questions">

        <div class="topNavColor">
            <a href="/topic"><img src=/img/logoMain.png />
                <p class="siteName">Query</p>
            </a>
            <p class="titleNav">Questions</p>
            <div class="nameDiv">
                <a href="/logout">Logout</a>


            </div>

        </div>

        <h1 id="ondTitle"><%= docs.topic %></h1>
        <h2 id="UserCount"></h2>
        <h2 id="askQuestionText">Stel je vraag.</h2>
        <div id="formDiv">
            <form method="post" id="send-quest">
                <input type="hidden" id="topicID" name="topicID" value="<%= docs.topicID %>">
                <!-- discussion variable -->
                <input type="text" id="quest" size="35" name="name" class="form-control">
                <input type="submit" value="Stel uw vraag" id="question_submit" class="btn btn-primary btn-default">
                <div id="error"></div>
            </form>
            
        </div>
        <div id="quests"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/build/javascripts/questions.js"></script>
</body>

</html>