<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <<link rel="stylesheet" href="/build/css/css/bundle.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Slab:400,700,300|Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container--Questions">
        <div class="topNavColor">
            <a href="/topic"><img src=/img/logoMain.png />
                <p class="siteName">Query</p>
            </a>
            <p class="titleNav">Details</p>
            <div class="nameDiv">
                <a href="/logout">Logout</a>


            </div>

        </div>

        <h1 id="ondTitle"><%= docsQuestions.question %></h1>
        
        <div id="formDiv">
            <form method="post" id="send-answer">
                <input type="hidden" id="questionID" name="questionID" value="<%= docsQuestions.questionID %>">
                <input type="text" id="answer" size="35" name="answer" class="form-control">
                <input type="submit" value="Antwoord" id="btnsend" class="btn btn-primary btn-default">
                <div id="error"></div>
            </form>
            
        </div>
        <div id="answerDiv"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/build/javascripts/answer.js"></script>
</body>

</html>