/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container--index {
  background-color: #3CB879;
  margin: 0;
  padding: 0;
  height: 100vh; }
  .container--index h1 {
    font-family: "Montserrat", serif;
    font-size: 50px;
    color: #fff;
    text-align: center; }
  .container--index h2 {
    font-family: "Open Sans", serif;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin-top: 30px; }
  .container--index .alert {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-family: "Open Sans", serif; }
  .container--index p {
    font-family: "Open Sans", serif;
    color: #fff;
    text-align: center;
    font-size: 18px;
    margin-top: 10px; }
  .container--index img {
    padding-top: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block; }
  .container--index .alreadyAccount {
    margin-top: 20px; }
    .container--index .alreadyAccount a {
      text-decoration: none;
      color: #1E6258;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    .container--index .alreadyAccount a:hover {
      color: #fff; }
  .container--index .btn-primary,
  .container--index .btn-social {
    background-color: #ECEEF1;
    text-decoration: none;
    color: #3CB879;
    padding: 20px 30px;
    width: 400px;
    display: block;
    text-align: center;
    font-family: "Montserrat", serif;
    margin-top: 40px;
    margin-left: auto;
    border: none;
    margin-right: auto;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .container--index .btn-social {
    background-color: #415DAE;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    width: 200px; }
  .container--index .emailForm {
    margin-bottom: 10px; }
  .container--index .nameForm {
    margin-top: 50px; }
  .container--index .btn-primary:hover {
    background-color: #333; }
  .container--index .btn-social:hover {
    background-color: #5f79c3; }
  .container--index input {
    width: 50%;
    height: 60px;
    border: none;
    display: block;
    margin: 10px auto;
    padding-left: 10px;
    font-family: "Open Sans", serif;
    font-size: 20px; }

.topNavColor {
  background-color: #3CB879;
  height: 70px; }
  .topNavColor .titleNav {
    display: block;
    margin: 0 auto;
    width: 200px;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-family: "Montserrat", serif;
    margin-top: 20px; }
  .topNavColor img {
    width: 40px;
    margin-top: 12px;
    margin-left: 20px;
    display: block;
    float: left; }
  .topNavColor .siteName {
    color: #fff;
    display: block;
    font-family: "Montserrat", serif;
    font-size: 25px;
    float: left;
    margin-top: 22px;
    padding-left: 15px; }
  .topNavColor .nameDiv a {
    color: #fff;
    display: block;
    font-family: "Open Sans", serif;
    font-size: 20px;
    float: right;
    text-decoration: none;
    padding: 25px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .topNavColor .nameDiv a:hover {
    background-color: #2f9260; }

nav {
  font-family: "Open Sans", serif; }
  nav ul {
    width: 100%;
    display: flex; }
    nav ul li {
      width: 50%;
      background-color: #3A3A3A; }
      nav ul li a {
        text-decoration: none;
        color: white;
        display: block;
        text-align: center;
        padding: 10px 0;
        -o-transition: 0.3s;
        -ms-transition: 0.3s;
        -moz-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      nav ul li a:hover {
        background-color: #545454;
        border-bottom: 3px solid #3CB879;
        padding-bottom: 7px; }

.container--createTopic .hidden,
.container--Questions .hidden {
  display: none; }
.container--createTopic #allTopicsDiv a,
.container--Questions #allTopicsDiv a {
  text-decoration: none; }
.container--createTopic #locationTopicsDiv a,
.container--Questions #locationTopicsDiv a {
  text-decoration: none; }
.container--createTopic #allTopicsDiv,
.container--Questions #allTopicsDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: none; }
.container--createTopic #locationTopicsDiv,
.container--Questions #locationTopicsDiv {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
.container--createTopic .listItem,
.container--Questions .listItem {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid;
  border-color: #fff;
  display: block;
  padding: 40px 25px 25px 25px;
  text-align: center;
  background-color: #3CB879;
  color: #fff;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  float: left;
  width: 20%;
  height: 200px;
  vertical-align: middle;
  line-height: 28px; }
.container--createTopic .listItem:hover,
.container--Questions .listItem:hover {
  color: #3CB879;
  background-color: #fff; }
.container--createTopic .listItem p,
.container--Questions .listItem p {
  font-size: 22px;
  font-family: "Montserrat", serif; }
.container--createTopic #topic_name,
.container--createTopic #quest, .container--createTopic #answer,
.container--Questions #topic_name,
.container--Questions #quest,
.container--Questions #answer {
  height: 32px;
  width: 385px;
  padding-left: 15px; }
.container--createTopic .answerText,
.container--Questions .answerText {
  background-color: #3CB879;
  margin-bottom: 10px;
  width: 70%;
  color: #fff;
  padding: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", serif;
  font-size: 20px; }
.container--createTopic #formDiv,
.container--Questions #formDiv {
  width: 608px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  .container--createTopic #formDiv #topic_submit,
  .container--createTopic #formDiv #question_submit, .container--createTopic #formDiv #btnsend, .container--createTopic #formDiv #answerBtn,
  .container--Questions #formDiv #topic_submit,
  .container--Questions #formDiv #question_submit,
  .container--Questions #formDiv #btnsend,
  .container--Questions #formDiv #answerBtn {
    background-color: #3CB879;
    text-decoration: none;
    color: #fff;
    border: none;
    padding: 12px 20px;
    width: 200px;
    text-align: center;
    font-family: "Montserrat", serif;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .container--createTopic #formDiv #topic_submit:hover,
  .container--createTopic #formDiv #question_submit:hover,
  .container--Questions #formDiv #topic_submit:hover,
  .container--Questions #formDiv #question_submit:hover {
    background-color: #333; }
.container--createTopic .imageAnswer,
.container--Questions .imageAnswer {
  width: 40%;
  display: block; }
.container--createTopic #locationTitle,
.container--createTopic #ondTitle,
.container--createTopic #questTitleDet,
.container--Questions #locationTitle,
.container--Questions #ondTitle,
.container--Questions #questTitleDet {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 27px;
  font-family: "Montserrat", serif;
  margin-top: 70px;
  color: #333; }
.container--createTopic #askQuestionText,
.container--Questions #askQuestionText {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 22px;
  font-family: "Montserrat", serif;
  margin-top: 15px;
  color: #3CB879; }

@media (max-width: 1200px) {
  .listItem {
    width: 33.3333% !important;
    line-height: 24px !important; }
    .listItem p {
      font-size: 18px !important; }

  #quests {
    display: block !important; }

  #quests .questiondiv {
    width: 90% !important; }

  #quests .questiondiv .quest {
    margin: 0px auto 10px auto;
    padding-top: 20px;
    color: #3CB879;
    font-size: 30px;
    font-family: "Montserrat", serif;
    display: block; }

  .container--index input {
    width: 80%; } }
@media (max-width: 700px) {
  #ondTitle {
    width: 90% !important; }

  #askQuestionText {
    width: 90% !important; }

  #formDiv {
    width: 100% !important; }

  #topic_submit,
  #question_submit,
  #btnsend {
    width: 94% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }

  #topic_name,
  #quest,
  #answer {
    width: 90% !important;
    display: block;
    margin-left: auto;
    margin-right: auto; }

  .listItem {
    width: 50% !important;
    line-height: 24px !important; }
    .listItem p {
      font-size: 18px !important; } }
#UserCount {
  display: block;
  margin: 20px auto;
  width: 80%;
  text-align: center;
  color: #999999;
  font-family: "Open Sans", serif; }

#quests {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  #quests .questiondiv {
    width: 40%;
    padding-bottom: 20px;
    margin: 0 auto 10px auto;
    border-bottom: 1px solid #cccccc; }
    #quests .questiondiv .quest {
      margin: 0px auto 10px auto;
      padding-top: 20px;
      color: #3CB879;
      font-size: 30px;
      font-family: "Montserrat", serif;
      display: block; }
    #quests .questiondiv #answerBtn {
      background-color: #3CB879;
      text-decoration: none;
      color: #fff;
      border: none;
      padding: 12px 20px;
      width: 200px;
      text-align: center;
      font-family: "Montserrat", serif;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 11px;
      -o-transition: 0.5s;
      -ms-transition: 0.5s;
      -moz-transition: 0.5s;
      -webkit-transition: 0.5s;
      transition: 0.5s; }
    #quests .questiondiv #answerBtn:hover {
      background-color: #333; }
    #quests .questiondiv .answerInput {
      height: 32px;
      width: 70%;
      padding-left: 20px; }
    #quests .questiondiv .answerForma {
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px; }
    #quests .questiondiv .scollClass {
      overflow-y: scroll;
      max-height: 400px;
      overflow-x: hidden; }
    #quests .questiondiv #answer {
      width: inherit;
      margin-left: auto;
      margin-right: auto;
      display: block;
      background-color: #f2f2f2;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 10px 0;
      text-align: left;
      color: #333;
      height: auto;
      font-family: "Open Sans", serif;
      font-size: 16px;
      padding-left: 30px;
      padding-right: 30px;
      line-height: 30px; }
      #quests .questiondiv #answer p {
        display: block;
        width: 80%; }

/*# sourceMappingURL=style.css.map */
