$font-primary: 'Montserrat',
serif;
$font-text: 'Open Sans',
serif;
$color-background: #3CB879;
$color-text: #fff;
$color-primary: #1CBFEA;
$color-secondary: #3A3A3A;
$color-btn: #ECEEF1;
$background-Image: url(/assets/images/backgroundBig.png);
$button-size: 20px 30px;
$button-width: 400px;
.container--index {
    background-color: $color-background;
    margin: 0;
    padding: 0;
    height: 100vh;
    h1 {
        font-family: $font-primary;
        font-size: 50px;
        color: $color-text;
        text-align: center;
    }
    h2 {
        font-family: $font-text;
        font-size: 30px;
        color: $color-text;
        text-align: center;
        margin-top: 30px;
    }
    .alert {
        color: $color-text;
        text-align: center;
        margin-top: 40px;
        font-family: $font-text;
    }
    p {
        font-family: $font-text;
        color: $color-text;
        text-align: center;
        font-size: 18px;
        margin-top: 10px;
    }
    img {
        padding-top: 100px;
        ;
        width: 100px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .alreadyAccount {
        margin-top: 20px;
        a {
            text-decoration: none;
            color: #1E6258;
            @include transition(0.5s);
        }
        a:hover {
            color: #fff;
        }
    }
    .btn-primary,
    .btn-social {
        background-color: $color-btn;
        text-decoration: none;
        color: $color-background;
        padding: $button-size;
        width: $button-width;
        display: block;
        text-align: center;
        font-family: $font-primary;
        margin-top: 40px;
        margin-left: auto;
        border: none;
        margin-right: auto;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        @include transition(0.5s);
    }
    .btn-social {
        background-color: #415DAE;
        color: #fff;
        font-size: 15px;
        margin-top: 20px;
        width: 200px;
    }
    .emailForm {
        margin-bottom: 10px;
    }
    .nameForm {
        margin-top: 50px;
    }
    .btn-primary:hover {
        background-color: #333;
    }
    .btn-social:hover {
        background-color: lighten(#415DAE, 10%);
    }
    input {
        width: 50%;
        height: 60px;
        border: none;
        display: block;
        margin: 10px auto;
        padding-left: 10px;
        font-family: $font-text;
        font-size: 20px;
    }
}
