$color-primary-topic: #3CB879;
$color-sec-topic: #fff;
.container--createTopic,
.container--Questions {
    .hidden {
        display: none
    }
    #allTopicsDiv a {
        text-decoration: none;
    }
    #locationTopicsDiv a {
        text-decoration: none;
    }
    #allTopicsDiv {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    #locationTopicsDiv {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .listItem {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 1px solid;
        border-color: $color-sec-topic;
        display: block;
        padding: 40px 25px 25px 25px;
        text-align: center;
        background-color: $color-primary-topic;
        color: $color-sec-topic;
        @include transition(0.5s);
        float: left;
        width: 20%;
        height: 200px;
        vertical-align: middle;
        line-height: 28px;
    }
    .listItem:hover {
        color: $color-primary-topic;
        background-color: $color-sec-topic;
    }
    .listItem p {
        font-size: 22px;
        font-family: "Montserrat", serif;
    }
    #topic_name,
    #quest, #answer {
        height: 32px;
        width: 385px;
        padding-left: 15px;
    }
    
    .answerText
    {
        background-color: $color-primary-topic;
        margin-bottom: 10px;
        width: 70%;
        color: #fff;
        padding: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-family: $font-text;
        font-size: 20px;
    }
    #formDiv {
        width: 608px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 50px;
        #topic_submit,
        #question_submit, #btnsend, #answerBtn {
            background-color: $color-primary-topic;
            text-decoration: none;
            color: $color-sec-topic;
            border: none;
            padding: 12px 20px;
            width: 200px;
            text-align: center;
            font-family: "Montserrat", serif;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
            @include transition(0.5s);
        }
        #topic_submit:hover,
        #question_submit:hover {
            background-color: #333;
        }
    }
    .imageAnswer
    {
        width: 40%;
        display: block;
    }

    #locationTitle,
    #ondTitle,
    #questTitleDet{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 27px;
        font-family: "Montserrat", serif;
        margin-top: 70px;
        color: #333;
    }
    #askQuestionText {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 22px;
        font-family: "Montserrat", serif;
        margin-top: 15px;
        color: $color-primary-topic;
    }
}
