@media (max-width: 1200px) {
    .listItem {
        width: 33.3333% !important;
        line-height: 24px !important;
        p {
            font-size: 18px !important;
        }
    }
    #quests {
        display: block !important;
    }
    #quests .questiondiv {
        width: 90% !important;
    }
    #quests .questiondiv .quest {
        margin: 0px auto 10px auto;
        padding-top: 20px;
        color: #3CB879;
        font-size: 30px;
        font-family: "Montserrat", serif;
        display: block;
    }
    .container--index input {
        width: 80%;
    }
}
@media (max-width: 700px) {
    #ondTitle {
        width: 90% !important;
    }
    #askQuestionText {
        width: 90% !important;
    }
    #formDiv {
        width: 100% !important;
    }
    #topic_submit,
    #question_submit,
    #btnsend {
        width: 94% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    #topic_name,
    #quest,
    #answer {
        width: 90% !important;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .listItem {
        width: 50% !important;
        line-height: 24px !important;
        p {
            font-size: 18px !important;
        }
    }
}
