$font-primary: 'Montserrat',
serif;
$font-text: 'Open Sans',
serif;
$color-background-nav: #3CB879;
$color-background-main: #fff;
$color-text-nav: #fff;
$color-text-main: #333;
$color-primary: #1CBFEA;
$color-secondary: #3A3A3A;
$color-btn: #ECEEF1;
$button-size: 20px 30px;
$button-width: 400px;
    .topNavColor {
        background-color: $color-background-nav;
        height: 70px;
        .titleNav
        {
            display: block;
            margin: 0 auto;
            width:200px;
            left: 0;
            right: 0;
            position: absolute;
            text-align: center;
            color: $color-text-nav;
            font-size: 27px;
            font-family: $font-primary;
            margin-top: 20px;
        }
        img {
            width: 40px;
            margin-top: 12px;
            margin-left: 20px;
            display: block;
            float: left;
        }
        .siteName {
            color: $color-text-nav;
            display: block;
            font-family: $font-primary;
            font-size: 25px;
            float: left;
            margin-top: 22px;
            padding-left: 15px;
        }
        .nameDiv a {
            color: $color-text-nav;
            display: block;
            font-family: $font-text;
            font-size: 20px;
            float: right;
            text-decoration: none;
            padding: 25px;
            @include transition(0.5s);
        }
        .nameDiv a:hover {
            background-color: darken($color-background-nav, 10%);
        }
    }
    nav {
        font-family: $font-text;
        ul {
            width: 100%;
            display: flex;
            li {
                
                width: 50%;
                background-color: $color-secondary;
                a {
                    text-decoration: none;
                    color: white;
                    display: block;
                    text-align: center;
                    padding: 10px 0;
                    @include transition(0.3s);
                    box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
                a:hover {
                    background-color: lighten($color-secondary, 10%);
                    border-bottom: 3px solid $color-background-nav;
                    padding-bottom: 7px;
                }
            }
        }
    }