#UserCount {
    display: block;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    color: lighten($color-text-main, 40%);
    font-family: $font-text;
}
#quests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .questiondiv {
        width: 40%;
        padding-bottom: 20px;
        margin: 0 auto 10px auto;
        border-bottom: 1px solid lighten($color-text-main, 60%);
        .quest {
            ;
            margin: 0px auto 10px auto;
            padding-top: 20px;
            color: $color-background-nav;
            font-size: 30px;
            font-family: $font-primary;
            display: block;
        }
        #answerBtn {
            background-color: $color-primary-topic;
            text-decoration: none;
            color: $color-sec-topic;
            border: none;
            padding: 12px 20px;
            width: 200px;
            text-align: center;
            font-family: "Montserrat", serif;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
            @include transition(0.5s);
        }
        #answerBtn:hover {
            background-color: #333;
        }
        .answerInput {
            height: 32px;
            width: 70%;
            padding-left: 20px;
        }
        .answerForma {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .scollClass {
            overflow-y: scroll;
            max-height: 400px;
            overflow-x: hidden;
        }
        #answer {
            width: inherit;
            margin-left: auto;
            margin-right: auto;
            display: block;
            background-color: lighten($color-text-main, 75%);
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 10px 0;
            text-align: left;
            color: #333;
            height: auto;
            font-family: $font-text;
            font-size: 16px;
            padding-left: 30px;
            padding-right: 30px;
            line-height: 30px;
            p {
                display: block;
                width: 80%;
            }
        }
    }
}
